# Midterm 3

# Sentiment Analysis of IMDB movie review Data

In [8]:
import nltk
import os
import pandas as pd

In [9]:
from nltk.corpus import stopwords # Words that dont contribute that much to the meaning of the sentence -> Sentiment nutral
#stopwords.words('english')

## Reading files from directory

## Train


Data set http://ai.stanford.edu/~amaas/data/sentiment/

In [ ]:
directory_pos=("aclImdb/train/pos/")
directory_neg=("aclImdb/train/neg/")

lst_pos = os.listdir(directory_pos)
lst_neg = os.listdir(directory_neg)

no_files_pos=len(lst_pos)
no_files_neg=len(lst_neg)
print(no_files_pos)
print(no_files_neg)

In [12]:
pos_text=[]
for i in lst_pos:
    file = open(directory_pos+i,encoding='utf-8').read()
    pos_text.append(file)

neg_text=[]
for i in lst_neg:
    file = open(directory_neg+i,encoding='utf-8').read()
    neg_text.append(file)

In [13]:
possitive=pd.DataFrame(data=list(zip(pos_text)),columns=["text"],index=None)
negative=pd.DataFrame(data=list(zip(neg_text)),columns=["text"],index=None)

In [14]:
print(possitive.shape)
print(negative.shape)

(12500, 1)
(12500, 1)

### Add Sentiment Tag

In [15]:
possitive=possitive.assign(sentiment=1)
negative=negative.assign(sentiment=0)

### Create Final Data Set

In [16]:
full_train = pd.concat([negative,possitive])

In [17]:
full_train.shape

(25000, 2)

In [18]:
from sklearn.utils import shuffle
full_train = shuffle(full_train)

In [19]:
full_train.head(10)

                                                    text  sentiment
2135   One of Disney's best films that I can enjoy wa...          1
11192  What can possibly said about this movie other ...          0
11053  Deaf secretary Carla (Emmanuelle Devos) is bul...          1
3579   I don't understand your objections to this mov...          1
612    Sitting, Typing
 Nothing is the latest "what i...          1
8211   This movie is one of the best ever produced by...          1
1823   Although I am generally a proponent of the wel...          0
4006   Pushing Daisies was a wonderful show. Much lik...          1
12362  almost every review of this movie I'd seen was...          1
686    The film is severely awful and is demeaning to...          0

## Test Data Import

In [20]:
directory_pos_test=("C:/Users/ojasves/Desktop/1_DS2_EXAM3/Midterm3/aclImdb_v1/aclImdb/test/pos/")
directory_neg_test=("C:/Users/ojasves/Desktop/1_DS2_EXAM3/Midterm3/aclImdb_v1/aclImdb/test/neg/")
lst_pos_test= os.listdir(directory_pos_test)
lst_neg_test= os.listdir(directory_neg_test)

no_files_pos_test=len(lst_pos_test)
no_files_neg_test=len(lst_neg_test)
print(no_files_pos_test)
print(no_files_neg_test)

12500
12500

In [22]:
pos_text_test=[]
for i in lst_pos_test:
    file_test = open(directory_pos_test+i,encoding='utf-8').read()
    pos_text_test.append(file_test)

neg_text_test=[]
for i in lst_neg_test:
    file_test = open(directory_neg_test+i,encoding='utf-8').read()
    neg_text_test.append(file_test)

In [23]:
possitive_test=pd.DataFrame(data=list(zip(pos_text_test)),columns=["text"],index=None)
negative_test=pd.DataFrame(data=list(zip(neg_text_test)),columns=["text"],index=None)

In [24]:
print(possitive_test.shape)
print(negative_test.shape)

(12500, 1)
(12500, 1)

In [25]:
possitive_test=possitive_test.assign(sentiment=1)
negative_test=negative_test.assign(sentiment=0)

In [26]:
full_test = pd.concat([possitive_test,negative_test])

In [27]:
full_test.head(10)

                                                text  sentiment
0  I went and saw this movie last night after bei...          1
1  Actor turned director Bill Paxton follows up h...          1
2  As a recreational golfer with some knowledge o...          1
3  I saw this film in a sneak preview, and it is ...          1
4  Bill Paxton has taken the true story of the 19...          1
5  I saw this film on September 1st, 2005 in Indi...          1
6  Maybe I'm reading into this too much, but I wo...          1
7  I felt this film did have many good qualities....          1
8  This movie is amazing because the fact that th...          1
9  "Quitting" may be as much about exiting a pre-...          1

In [28]:
full_test.shape

(25000, 2)

In [29]:
from sklearn.utils import shuffle
full_test = shuffle(full_test)

In [30]:
full_test.head(10)

                                                    text  sentiment
10211  When I first saw this film around 6 months ago...          1
3000   I am fifteen years old and have seen thirty-th...          1
5740   Dennis Hopper must've been really hungry to do...          0
1679   I do not find this show at all funny. I actual...          0
6278   Having seen most of the Coen Brothers previous...          1
12157  This is not the kind of movie that really meri...          1
2097   That this film has such a low IMDb rating is n...          0
2373   can someone please help me i missed the last v...          0
9330   This screened at Sundance last night to a rece...          0
7802   This movie I watched back in 1981 when it came...          1

# Preprocessing - Train and Test

In [31]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [32]:
#make lower case
full_train.text_lower = full_train.text.apply(lambda x: x.lower())
full_test.text_lower = full_test.text.apply(lambda x: x.lower())

In [33]:
#remove html tags
import re

def cleanhtml(raw_html):
    clean_html = re.compile('<.*?>')
    cleantext = re.sub(clean_html, '', raw_html)
    return cleantext

In [34]:
full_train["text_no_html"] = full_train.text_lower.apply(lambda z:cleanhtml(z))
full_test["text_no_html"] = full_test.text_lower.apply(lambda z:cleanhtml(z))

In [35]:
full_train.head()

,text,sentiment,text_no_html
2135,One of Disney's best films that I can enjoy wa...,1,one of disney's best films that i can enjoy wa...
11192,What can possibly said about this movie other ...,0,what can possibly said about this movie other ...
11053,Deaf secretary Carla (Emmanuelle Devos) is bul...,1,deaf secretary carla (emmanuelle devos) is bul...
3579,I don't understand your objections to this mov...,1,i don't understand your objections to this mov...
612,"Sitting, TypingÂ… Nothing is the latest ""what i...",1,"sitting, typingÂ… nothing is the latest ""what i..."

In [36]:
full_test.head()

,text,sentiment,text_no_html
10211,When I first saw this film around 6 months ago...,1,when i first saw this film around 6 months ago...
3000,I am fifteen years old and have seen thirty-th...,1,i am fifteen years old and have seen thirty-th...
5740,Dennis Hopper must've been really hungry to do...,0,dennis hopper must've been really hungry to do...
1679,I do not find this show at all funny. I actual...,0,i do not find this show at all funny. i actual...
6278,Having seen most of the Coen Brothers previous...,1,having seen most of the coen brothers previous...

In [44]:
#remove punctuation 
def clean_num(raw_text):
    #cleantext = "".join([word.lower() for word in raw_text if word not in string.punctuation])
    clean_punc = re.compile('([!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~])')
    cleantext = re.sub(clean_punc,"", raw_text)
    return cleantext

In [45]:
full_train["text_no_pun"] = full_train.text_no_html.apply(lambda z:clean_num(z))
full_test["text_no_pun"] = full_test.text_no_html.apply(lambda z:clean_num(z))

In [46]:
full_test.head(10)

,text,sentiment,text_no_html,text_no_pun
10211,When I first saw this film around 6 months ago...,1,when i first saw this film around 6 months ago...,when i first saw this film around 6 months ago...
3000,I am fifteen years old and have seen thirty-th...,1,i am fifteen years old and have seen thirty-th...,i am fifteen years old and have seen thirtythr...
5740,Dennis Hopper must've been really hungry to do...,0,dennis hopper must've been really hungry to do...,dennis hopper mustve been really hungry to do ...
1679,I do not find this show at all funny. I actual...,0,i do not find this show at all funny. i actual...,i do not find this show at all funny i actuall...
6278,Having seen most of the Coen Brothers previous...,1,having seen most of the coen brothers previous...,having seen most of the coen brothers previous...
12157,This is not the kind of movie that really meri...,1,this is not the kind of movie that really meri...,this is not the kind of movie that really meri...
2097,That this film has such a low IMDb rating is n...,0,that this film has such a low imdb rating is n...,that this film has such a low imdb rating is n...
2373,can someone please help me i missed the last v...,0,can someone please help me i missed the last v...,can someone please help me i missed the last v...
9330,This screened at Sundance last night to a rece...,0,this screened at sundance last night to a rece...,this screened at sundance last night to a rece...
7802,This movie I watched back in 1981 when it came...,1,this movie i watched back in 1981 when it came...,this movie i watched back in 1981 when it came...

In [47]:
full_train.head(10)

,text,sentiment,text_no_html,text_no_pun
2135,One of Disney's best films that I can enjoy wa...,1,one of disney's best films that i can enjoy wa...,one of disneys best films that i can enjoy wat...
11192,What can possibly said about this movie other ...,0,what can possibly said about this movie other ...,what can possibly said about this movie other ...
11053,Deaf secretary Carla (Emmanuelle Devos) is bul...,1,deaf secretary carla (emmanuelle devos) is bul...,deaf secretary carla emmanuelle devos is bulli...
3579,I don't understand your objections to this mov...,1,i don't understand your objections to this mov...,i dont understand your objections to this movi...
612,"Sitting, TypingÂ… Nothing is the latest ""what i...",1,"sitting, typingÂ… nothing is the latest ""what i...",sitting typingÂ… nothing is the latest what if ...
8211,This movie is one of the best ever produced by...,1,this movie is one of the best ever produced by...,this movie is one of the best ever produced by...
1823,Although I am generally a proponent of the wel...,0,although i am generally a proponent of the wel...,although i am generally a proponent of the wel...
4006,Pushing Daisies was a wonderful show. Much lik...,1,pushing daisies was a wonderful show. much lik...,pushing daisies was a wonderful show much like...
12362,almost every review of this movie I'd seen was...,1,almost every review of this movie i'd seen was...,almost every review of this movie id seen was ...
686,The film is severely awful and is demeaning to...,0,the film is severely awful and is demeaning to...,the film is severely awful and is demeaning to...

In [48]:
ps = nltk.PorterStemmer()
stopwords = nltk.corpus.stopwords.words('english')

In [49]:
#Remove Stop words and Stemming
def clean_text_1(text):
    tokens = re.split('\W+', text)
    text = [ps.stem(word) for word in tokens if word not in stopwords]
    return text

In [51]:
full_train["text_no_stop"] = full_train.text_no_pun.apply(lambda z:clean_text_1(z))
full_test["text_no_stop"] = full_test.text_no_pun.apply(lambda z:clean_text_1(z))

In [52]:
full_train["text_no_stop"] = full_train.text_no_stop.apply(lambda z: " ".join(str(x) for x in z))
full_test["text_no_stop"] = full_test.text_no_stop.apply(lambda z:" ".join(str(x) for x in z))

In [54]:
full_test.head(10)

,text,sentiment,text_no_html,text_no_pun,text_no_stop
10211,When I first saw this film around 6 months ago...,1,when i first saw this film around 6 months ago...,when i first saw this film around 6 months ago...,first saw film around 6 month ago consid inter...
3000,I am fifteen years old and have seen thirty-th...,1,i am fifteen years old and have seen thirty-th...,i am fifteen years old and have seen thirtythr...,fifteen year old seen thirtythre sinatra film ...
5740,Dennis Hopper must've been really hungry to do...,0,dennis hopper must've been really hungry to do...,dennis hopper mustve been really hungry to do ...,denni hopper mustv realli hungri movi atroci s...
1679,I do not find this show at all funny. I actual...,0,i do not find this show at all funny. i actual...,i do not find this show at all funny i actuall...,find show funni actual think much wors terribl...
6278,Having seen most of the Coen Brothers previous...,1,having seen most of the coen brothers previous...,having seen most of the coen brothers previous...,seen coen brother previou film expect someth d...
12157,This is not the kind of movie that really meri...,1,this is not the kind of movie that really meri...,this is not the kind of movie that really meri...,kind movi realli merit critic attent go win os...
2097,That this film has such a low IMDb rating is n...,0,that this film has such a low imdb rating is n...,that this film has such a low imdb rating is n...,film low imdb rate surpris postenron era reall...
2373,can someone please help me i missed the last v...,0,can someone please help me i missed the last v...,can someone please help me i missed the last v...,someon pleas help miss last view moment dont w...
9330,This screened at Sundance last night to a rece...,0,this screened at sundance last night to a rece...,this screened at sundance last night to a rece...,screen sundanc last night recept mute crowd cl...
7802,This movie I watched back in 1981 when it came...,1,this movie i watched back in 1981 when it came...,this movie i watched back in 1981 when it came...,movi watch back 1981 came although miss first ...

In [ ]:
#wn = nltk.WordNetLemmatizer()
# def lemmatizing(tokenized_text):
#     text = [wn.lemmatize(word) for word in tokenized_text]
#     return text

# data["body_text_lemmatized"] = data["body_text_nostop"].apply(lambda x:lemmatizing(x))

In [ ]:
# #Vocabulary
# vocab=open("C:/Users/ojasves/Desktop/1_DS2_EXAM3/Midterm3/aclImdb_v1/aclImdb/imdb.vocab",encoding='utf-8').read()

In [ ]:
# tokens_voab = re.split('\W+',vocab)

# Tf-Idf - Vectorizer

In [55]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [56]:

tfv = TfidfVectorizer(min_df=3,
                      strip_accents='unicode', 
                      analyzer='word',
                      token_pattern=r'\w{1,}',
                      max_features=2000,
                      stop_words = 'english')


# Fitting TF-IDF to both training and test sets (semi-supervised learning)
tfv.fit(list(full_train.text_no_stop) + list(full_test.text_no_stop))
xtrain_tfv =  tfv.transform(full_train.text_no_stop) 
xvalid_tfv = tfv.transform(full_test.text_no_stop)

In [57]:
xtrain_tfv.shape

(25000, 2000)

In [58]:
xvalid_tfv.shape

(25000, 2000)

In [59]:
ytrain=full_train.sentiment
yvalid=full_test.sentiment

# Models
* Logistic reg
* Multinomial NB
* Ada boost
* Random forest

In [60]:
from sklearn import preprocessing, decomposition, model_selection, metrics, pipeline

from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.metrics import classification_report

from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

## Logistic Reg

In [61]:
#logictic regression
log_reg = LogisticRegression(C=1.0)
log_reg.fit(xtrain_tfv, ytrain)
predictions_log_reg= log_reg.predict(xvalid_tfv)

In [62]:
print("Logistic Regression; Accuracy Score: %0.3f "%metrics.accuracy_score(yvalid, predictions_log_reg))

Logistic Regression; Accuracy Score: 0.868

In [63]:
print("Logistic Regression Report:\n \n",classification_report(yvalid,predictions_log_reg))

Logistic Regression Report:

              precision    recall  f1-score   support

          0       0.87      0.86      0.87     12500
          1       0.86      0.88      0.87     12500

avg / total       0.87      0.87      0.87     25000

## MultinomialNB

In [64]:
MNB = MultinomialNB()
MNB.fit(xtrain_tfv, ytrain)
predictions_MNB = MNB.predict(xvalid_tfv)

In [65]:
print("MultinomialNB ; Accuracy Score: %0.3f "%metrics.accuracy_score(yvalid, predictions_MNB))
print("\n MultinomialNB Report:\n \n",classification_report(yvalid,predictions_MNB))

MultinomialNB ; Accuracy Score: 0.835

 MultinomialNB Report:

              precision    recall  f1-score   support

          0       0.84      0.83      0.84     12500
          1       0.83      0.84      0.84     12500

avg / total       0.84      0.84      0.84     25000

## Random Forest Classifier

In [66]:
RFC = RandomForestClassifier(n_estimators =5,max_depth=5,n_jobs=-1,)
RFC.fit(xtrain_tfv, ytrain)
predictions_RFC = RFC.predict(xvalid_tfv)

In [67]:
print("Random Forest Classifier ; Accuracy Score: %0.3f "%metrics.accuracy_score(yvalid, predictions_RFC))
print("\n Random Forest Classifier Report:\n \n",classification_report(yvalid,predictions_RFC))

Random Forest Classifier ; Accuracy Score: 0.693

 Random Forest Classifier Report:

              precision    recall  f1-score   support

          0       0.77      0.55      0.64     12500
          1       0.65      0.84      0.73     12500

avg / total       0.71      0.69      0.69     25000

## Ada Boost Classifier

In [68]:
ABC = AdaBoostClassifier(n_estimators =5, learning_rate=0.5)
ABC.fit(xtrain_tfv, ytrain)
predictions_ABC = ABC.predict(xvalid_tfv)

In [69]:
print("Ada Boost Classifier  ; Accuracy Score: %0.3f "%metrics.accuracy_score(yvalid, predictions_ABC))
print("\n Ada Boost Classifier  Report:\n \n",classification_report(yvalid,predictions_ABC))

Ada Boost Classifier  ; Accuracy Score: 0.699

 Ada Boost Classifier  Report:

              precision    recall  f1-score   support

          0       0.80      0.53      0.64     12500
          1       0.65      0.87      0.74     12500

avg / total       0.72      0.70      0.69     25000

# GRID SEARCH

In [70]:
from sklearn.model_selection import GridSearchCV

## Log_reg

In [71]:
Log_reg_G = LogisticRegression()
param = {'C': [1,0.5],
        'penalty': ["l1","l2"]}

gs_log_reg = GridSearchCV(Log_reg_G, param, cv=5, n_jobs=-1)
gs_fit = gs_log_reg.fit(xtrain_tfv, ytrain)
pd.DataFrame(gs_fit.cv_results_).sort_values('mean_test_score', ascending=False)[0:5]

,mean_fit_time,mean_score_time,mean_test_score,mean_train_score,param_C,param_penalty,params,rank_test_score,split0_test_score,split0_train_score,...,split2_test_score,split2_train_score,split3_test_score,split3_train_score,split4_test_score,split4_train_score,std_fit_time,std_score_time,std_test_score,std_train_score
1,0.866465,0.002798,0.86396,0.89264,1,l2,"{'C': 1, 'penalty': 'l2'}",1,0.8592,0.89300,...,0.8650,0.89205,0.8748,0.89100,0.8614,0.89310,0.028612,4.008546e-04,0.005807,0.001036
0,0.695170,0.002601,0.86388,0.88999,1,l1,"{'C': 1, 'penalty': 'l1'}",2,0.8646,0.89010,...,0.8618,0.88965,0.8748,0.88870,0.8592,0.88975,0.266726,7.982018e-04,0.005828,0.000995
3,0.555856,0.002800,0.86388,0.88629,0.5,l2,"{'C': 0.5, 'penalty': 'l2'}",2,0.8584,0.88745,...,0.8662,0.88500,0.8744,0.88495,0.8606,0.88655,0.076925,7.477314e-04,0.005890,0.001126
2,0.798106,0.002999,0.85752,0.87349,0.5,l1,"{'C': 0.5, 'penalty': 'l1'}",4,0.8566,0.87510,...,0.8558,0.87305,0.8680,0.87245,0.8538,0.87275,0.068058,3.504023e-07,0.005375,0.000978

In [72]:
gs_log_reg.best_params_

{'C': 1, 'penalty': 'l2'}

In [73]:
y_pred = gs_log_reg.predict(xvalid_tfv)
print(classification_report(yvalid, y_pred))

             precision    recall  f1-score   support

          0       0.87      0.86      0.87     12500
          1       0.86      0.88      0.87     12500

avg / total       0.87      0.87      0.87     25000

## Random Forest

In [74]:
RFC = RandomForestClassifier()
param = {'n_estimators': [10, 30],
        'max_depth': [10, 20]}

gs_RFC = GridSearchCV(RFC, param, cv=2, n_jobs=-1)
gs_fit = gs_RFC.fit(xtrain_tfv, ytrain)
pd.DataFrame(gs_fit.cv_results_).sort_values('mean_test_score', ascending=False)[0:5]

,mean_fit_time,mean_score_time,mean_test_score,mean_train_score,param_max_depth,param_n_estimators,params,rank_test_score,split0_test_score,split0_train_score,split1_test_score,split1_train_score,std_fit_time,std_score_time,std_test_score,std_train_score
3,2.406511,0.114928,0.80832,0.93192,20,30,"{'max_depth': 20, 'n_estimators': 30}",1,0.80792,0.93568,0.80872,0.92816,0.247849,0.006994,0.00040,0.00376
1,1.076832,0.119926,0.79592,0.85196,10,30,"{'max_depth': 10, 'n_estimators': 30}",2,0.79608,0.85752,0.79576,0.84640,0.169396,0.020987,0.00016,0.00556
2,1.132798,0.060964,0.77316,0.90684,20,10,"{'max_depth': 20, 'n_estimators': 10}",3,0.77208,0.90936,0.77424,0.90432,0.021488,0.001000,0.00108,0.00252
0,0.372769,0.039976,0.76664,0.82448,10,10,"{'max_depth': 10, 'n_estimators': 10}",4,0.76880,0.82944,0.76448,0.81952,0.001998,0.001999,0.00216,0.00496

In [75]:
gs_RFC.best_params_

{'max_depth': 20, 'n_estimators': 30}

In [76]:
y_pred = gs_RFC.predict(xvalid_tfv)
print(classification_report(yvalid, y_pred))

             precision    recall  f1-score   support

          0       0.84      0.77      0.80     12500
          1       0.79      0.85      0.82     12500

avg / total       0.81      0.81      0.81     25000

## Ada boost

In [77]:
ABC = AdaBoostClassifier()
param = {'n_estimators': [10, 5,20],
        'learning_rate': [0.2,0.5,1]}

gs_ABC = GridSearchCV(ABC, param, cv=5, n_jobs=-1)
gs_fit = gs_ABC.fit(xtrain_tfv, ytrain)
pd.DataFrame(gs_fit.cv_results_).sort_values('mean_test_score', ascending=False)[0:5]

,mean_fit_time,mean_score_time,mean_test_score,mean_train_score,param_learning_rate,param_n_estimators,params,rank_test_score,split0_test_score,split0_train_score,...,split2_test_score,split2_train_score,split3_test_score,split3_train_score,split4_test_score,split4_train_score,std_fit_time,std_score_time,std_test_score,std_train_score
8,6.726438,0.045572,0.76316,0.76812,1,20,"{'learning_rate': 1, 'n_estimators': 20}",1,0.7648,0.76830,...,0.7624,0.76720,0.7762,0.76360,0.7574,0.76995,1.236992,0.008885,0.007390,0.002699
5,7.819757,0.057763,0.75688,0.76093,0.5,20,"{'learning_rate': 0.5, 'n_estimators': 20}",2,0.7632,0.76430,...,0.7596,0.75815,0.7698,0.75785,0.7448,0.76490,0.149101,0.010640,0.009569,0.003050
3,3.899852,0.034081,0.72600,0.72906,0.5,10,"{'learning_rate': 0.5, 'n_estimators': 10}",3,0.7316,0.73050,...,0.7252,0.72515,0.7352,0.72265,0.7224,0.73640,0.077548,0.006098,0.006896,0.004790
6,4.116246,0.030619,0.72348,0.72791,1,10,"{'learning_rate': 1, 'n_estimators': 10}",4,0.7276,0.72680,...,0.7244,0.72560,0.7344,0.72540,0.7164,0.73180,0.274259,0.005880,0.007294,0.002536
2,7.562965,0.057585,0.71980,0.72367,0.2,20,"{'learning_rate': 0.2, 'n_estimators': 20}",5,0.7280,0.72815,...,0.7260,0.72605,0.7290,0.71785,0.7078,0.72350,0.108769,0.007657,0.009684,0.003475

In [78]:
gs_ABC.best_params_

{'learning_rate': 1, 'n_estimators': 20}

In [79]:
y_pred = gs_ABC.predict(xvalid_tfv)
print(classification_report(yvalid, y_pred))

             precision    recall  f1-score   support

          0       0.81      0.70      0.75     12500
          1       0.74      0.84      0.78     12500

avg / total       0.77      0.77      0.77     25000

# Pipeline - Grid search on log reg

In [80]:
from sklearn.pipeline import Pipeline

In [88]:
Log_reg_G = LogisticRegression()
pipeline = Pipeline([
    ('tfidf', tfv),
    ('clf', Log_reg_G)])
pipeline.steps

[('tfidf',
  TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
          dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
          lowercase=True, max_df=1.0, max_features=2000, min_df=3,
          ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
          stop_words='english', strip_accents='unicode', sublinear_tf=False,
          token_pattern='\\w{1,}', tokenizer=None, use_idf=True,
          vocabulary=None)),
 ('clf',
  LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
            intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
            penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
            verbose=0, warm_start=False))]

In [89]:
param = {'clf__C': [1,0.5],
        'clf__penalty': ["l1","l2"]}



cv_grid = GridSearchCV(pipeline, param_grid = {
    'clf__C': [1,0.5],
    'clf__penalty': ["l1","l2"]
})

cv_grid.fit(full_train.text_no_stop, ytrain)

GridSearchCV(cv=None, error_score='raise',
       estimator=Pipeline(steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=2000, min_df=3,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
 ...ty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False))]),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'clf__C': [1, 0.5], 'clf__penalty': ['l1', 'l2']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [90]:
pd.DataFrame(cv_grid.cv_results_).sort_values('mean_test_score', ascending=False)[0:5]

,mean_fit_time,mean_score_time,mean_test_score,mean_train_score,param_clf__C,param_clf__penalty,params,rank_test_score,split0_test_score,split0_train_score,split1_test_score,split1_train_score,split2_test_score,split2_train_score,std_fit_time,std_score_time,std_test_score,std_train_score
1,3.820212,1.441850,0.86316,0.89358,1,l2,"{'clf__C': 1, 'clf__penalty': 'l2'}",1,0.859851,0.894396,0.863211,0.893916,0.866419,0.892429,0.508181,0.080987,0.002681,0.000837
0,3.540794,1.406449,0.86180,0.88950,1,l1,"{'clf__C': 1, 'clf__penalty': 'l1'}",2,0.860811,0.890076,0.858411,0.890976,0.866179,0.887449,0.208477,0.183064,0.003247,0.001496
3,3.316748,1.286484,0.86120,0.88688,0.5,l2,"{'clf__C': 0.5, 'clf__penalty': 'l2'}",3,0.856611,0.888336,0.862611,0.886475,0.864378,0.885829,0.127942,0.059062,0.003324,0.001062
2,3.296858,1.247472,0.85552,0.86964,0.5,l1,"{'clf__C': 0.5, 'clf__penalty': 'l1'}",4,0.856012,0.871535,0.850972,0.870515,0.859578,0.866871,0.063384,0.016363,0.003530,0.002002

In [91]:
cv_grid .best_params_

{'clf__C': 1, 'clf__penalty': 'l2'}